/* Soluzione qui */

/* TABLET   */
@media all and (min-width: 768px) {
   #topbar {
    display: flex;
    justify-content: flex-start;
  }

  main {
    padding: 50px;
  }

  .recipe-name {
    display: flex;
  }

  .recipe-origin {
	display: block;
  margin-left: 10px;
}

  .recipe-title {
    font-size: 1.2rem;
  }

  .quick-notes ul {
   display: flex;
   flex-wrap: wrap;
  }

    .quick-notes ul li {
    width: calc(100% / 3);
  }

    .social-networks .btn {
      padding: 10px 50px;
    } 

    .ads {
	    display: block;
}


    .clearfix img {
      float: left;
      margin-right: 12px;
    }


}


/* DESKTOP  */
@media all and (min-width: 992px) {

  
  .recipe-title {
    font-size: 2rem;
  }

  .quick-notes ul {
    display: block;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
  }

  .recipe-info {
    width: 30%;
  }

  .quick-notes ul li {
    width: 100%;
  }

  .btn .label {
    display: initial;
  }

  .social-networks .btn {
    display: flex;
  }

  .social-networks .btn .label {
    margin-left: 5px;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  address {
    text-align: left;
  }

}


/* LARGE MOBILE  */
@media all and (min-width: 576px) {

  .clearfix img {
    float: left;
    margin-right: 10px;
  }

  /* .social-networks .btn {
    padding: 10px 35px;
  } */
   .social-networks .btn {
    width: calc(100% / 5);
   }
}

